* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: 'Maven Pro', sans-serif;
    background: #447722;
    font-family:Helvetica, Arial,  sans-serif;
    background-image: url("images/background.png");

}

.container5 {
    font-family: arial;
    display:none;
}
#sprite { 
    background-color: white; 
    border-radius: 50px;
}
.container6 {
    font-family: arial;
    display: none;
    width: 40em;
    display: flex;
    align-items: flex-end;
}
.container7 {
    font-family: arial;
    display: none;

}
.container8 {
    font-family: 'Times New Roman', Times, serif;
    display: none;

}
.container9 {
    font-family: arial;
    display: none;

}
.container10 {
    font-family: arial;
    display: none;

}
.container11 {
    font-family: arial;
    display: none;

}

.container12 > .darker{
    font-family: arial;
    display: none;
    float: right;
    width: 20em;

}
#sendarrow > img {
    display: inline-block;
    width: 10px;
}

#homebutton > img{
    width: 1px;
    height: 1px;
}

button {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: #3b2720;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    

}
h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 1em;
    padding: 1%;
}

.title {
    background-color: #808080;
    width: 100%; 
}

.navigation {
    width: 100%;
    background-color:grey;
    overflow: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navigation a {
    float: left;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
    font-weight: 600;
}

.navigation a:hover {
    background-color: black;
}

.choice:hover {
    background-color: black;
    color: #f1f1f1;
}

.navigation a.active {
    background-color: #555;
}
.ink-cursor span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: blue;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    }
.main-section > .headerimg{
    display: flex; 
    align-items: center;
    justify-content: center;
  
}
.texts > img {
    float: center;
}
.texts {
    overflow-x: auto; 
    margin: 2% 2%;
    width: 60%;
    height: 75vh;
    padding: 1% 2%;
    
    background-color:#c9e8b2;
    
    color:black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    justify-content: flex-end;
 
}

  #myProgress {
    width: 100%;
    background-color: grey;
  }
 h2{
     color: black;
 }
  #myBar {
    width: 10%;
    height: 30px;
    background-color: #fff26f;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: black;
  }
  article {
      color:black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7em;
  }
  article > h2 {
      color: black;

  }
  .trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
  }

.container {
  
    font-family: 'Maven Pro', sans-serif;
    font-size: 0.9em;
    border-radius: 360px;
    background-color:#fff26f;
    border-left: thick solid white;

  
    /*background-color: greenyellow;*/
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    max-width: 60%;
    animation-name: fade-in;
    animation-duration: 3s;
    z-index: 49;
  
}
.headerimg {
    position: absolute;
   
   
}
.headerimg > img {
    margin-bottom: 360px;
    margin-left: 220px;
}
@keyframes fade-in{
    0% {
        opacity:0;
    }
    100 % {
        opacity: 1; 
    }
}
  
/* Darker chat container */
.darker {
    align-self: flex-end;
    background-color: white;
    border-left: thick solid white;
    font-family: 'Maven Pro', sans-serif;
    
   /* background-color: #c9e8b2;*/

}

#bottom {
    z-index: 49;
    border: 2px solid white;
    background-color: #3b2720;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    color: yellow;
}
input {
    background-color: #3b2720;
    color: white;
    border: none;
    font-family:  Arial, Helvetica, sans-serif;
    width: 94%;
    z-index: 49;
}

.right-section img {

    border-radius: 50%;
    margin-bottom: 10%;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.right-section {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    margin-left: 10%;
}

.options {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-self: center;
}

.choice {
    max-width: 100%;
    margin-left: 10px;
}

.score {
    padding: 1% 0% 0% 2%;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

.score p {
    margin: 0% 2%;
}

.options h2 {
    color: white;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
.popuptextimage {
    position: absolute; 
   
  
}
.popuptextimage > img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 700px;
}
.popuptextimage:hover > img {
    width: 140px;
    height: 140px;
    
}
#audio {
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end;

}
#s-popup {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 49;
    position: absolute;

}
#s-popup > img {
    width: 10px;
    height: 10px;
}
/******* MUSIC PLAYER *******/
/* Record Page CSS */

/* new nav bar design */
.nav {
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    position:fixed;
    bottom: 0;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #3b2720;
    
}
.nav img {
    display: flex;
    width: 100px;
    align-self: flex-end;
}  

.nav a {  
    margin: 20px;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 40%; 
    text-align: center;
    font-weight: 600;
    
}
.nav i {
    margin: 10px;
}

.nav :hover {
    color: #fff26f; 
}

.pic {
    width: 20px;
}

/* record blocks css */
.record {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.record div {
    border-style: solid;
    border-color: #c9e8b2;
    border-radius: 5px;
    background:url("images/pattern.png");
    background-size: 400px;
    width: 800px;
    height: 200px;
    margin: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}
