body {
    background-color:  #42704d;
}
#Loading {
    z-index: 49;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    animation: opacity 7s; 
     opacity: 0;
     z-index:-1;
    
    
   
}

@keyframes opacity {
    from { opacity: 1; }
    to   { opacity: 0;
        overflow: hidden;
        visibility: hidden; }
    0% {
        width: 100%;
        height: 100%;
        z-index: 49;
            
        }
    50% {
        z-index: -1;
    }
}
.logo-load {
    display: flex; 
    align-items: flex-start;

}
.logo-load > img{
    width: 600px;
    height: 600px;
}

#Loading > img{
    margin-top: 10em;
    margin-right: 28em;
    width: 5em;
    position: absolute;
}
#Content {
    display: flex; 
    flex-direction: column;
}

#Districts{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-family: arial;
    color: white;

}
#Below {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-direction: row;
    font-family: arial;
    color: white;

}

.DistrictIpswitch {
    width: 400px;
    height: 400px;
    border: solid;
    border-color: black;
    border-width: 3px;
    background-size: 620px;
    background-repeat: no-repeat;

}
.DistrictIpswitch:hover{ 
    background-color: white;
    border-color: white;
}
.DistrictIpswitch > h1 {
    position: absolute;
   margin-left: 99px;
    margin-top: 10.4em;
    color: black;

}
.DistrictIpswitch > h2 {
    padding: -30px;

}
.DistrictIpswitch > img {
   margin-top: 18.8em;
    width: 400px;
    height: 100px;
    float: bottom;

}
.DistrictChartersTowers {
    width: 400px;
    height: 400px;
    border: solid;
    border-color: black;
    background-size: 620px;
    background-repeat: no-repeat;

}
.DistrictChartersTowers > img {
    margin-top: 18.8em;
    width: 400px;
    height: 100px;
    float: bottom;

}
.DistrictChartersTowers > h1 {
 
    position: absolute;
    margin-top: 10.5em;
    margin-left: 20px;
    color: black;

}

.DistrictOtherMine {
    width: 400px;
    height: 400px;
    border: solid;
    border-color: black;
    background-size: 620px;
    background-repeat: no-repeat;

}
.DistrictOtherMine > img {
    margin-top: 18.69em;
    width: 400px;
    height: 100px;
    float: bottom;
}
.DistrictOtherMine > h1 {
    position: absolute;
    margin-left: 130px;
    margin-top: 330px;
    color: black;

}
.DistrictChartersTowers:hover{ 
    background-color: white;
    border-color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:active {
    text-decoration: none;
    color: white;

}

.navigation {
    width: 100%;
    background-color: #3b2720;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navigation a {
    float: left;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 22.91%; /* Four links of equal widths */
    text-align: center;
    font-weight: 600;
    font-family: arial;
}

.navigation a:hover {
    background-color: black;
}

.choice:hover {
    background-color: black;
    color: #f1f1f1;
}

.navigation a.active {
    background-color: #555;
}
.DistrictChartersTowers2  {
    
    width: 400px;
    height: 400px;
    border: solid;
    border-color: black;
    
    background-size: 620px;
    background-repeat: no-repeat;
  

}
.DistrictChartersTowers2  > img {
    margin-top:  18.7em;
    width: 400px;
    height: 100px;
    float: bottom;
}


.DistrictChartersTowers2  > h1 {
    position: absolute;
    margin-left: 30px;
    margin-top: 320px;
    color: black;

}
.DistrictChartersTowers2:hover{ 
    background-color: white;
    border-color: white;
}
.DistrictIpswitch2 {
    width: 400px;
    height: 400px;
    border: solid;
    border-color: black;
    background-size: 620px;
    background-repeat: no-repeat;

}
.DistrictIpswitch2  > h1 {
    position: absolute;
    margin-left: 30px;
    margin-top: 320px;
    color: black;

}
.DistrictIpswitch2  > img {
    margin-top:  18.8em;
    width: 400px;
    height: 100px;
    float: bottom;
}
.DistrictIpswitch2:hover{ 
    background-color: white;
    border-color: white;
}
.DistrictOtherMine2{
    width: 400px;
    height: 400px;
    border: solid;
    border-color: black;
    background-size: 620px;
    background-repeat: no-repeat;

}
.DistrictOtherMine2  > img {
    margin-top:  18.8em;
    width: 400px;
    height: 100px;
    float: bottom;
}
.DistrictOtherMine2 > h1 {
    position: absolute;
    margin-left: 30px;
    margin-top: 320px;
    color: black;

}
.DistrictOtherMine2:hover{ 
    background-color: white;
    border-color: white;
}
@media only screen and (max-width: 1150px) {
    .navigation a{
        width: 20.91%;
    }


    .DistrictOtherMine{
        width: 300px;
        height: 300px;
    }
    .DistrictOtherMine > h1 {
        padding: 100px;
    }

    .DistrictChartersTowers {
        width: 300px;
        height: 300px;

    }
    .DistrictChartersTowers > h1 {
        padding: 100px;
    }
    .DistrictIpswitch {
        width: 300px;
        height: 300px;
    }
    .DistrictIpswitch > h1 {
        padding: 100px;
    }
    .DistrictChartersTowers2 {
        width: 300px;
        height: 300px;
    }
    .DistrictChartersTowers2> h1 {
        padding: 90px;
    }
    .DistrictIpswitch2 {
        width: 300px;
        height: 300px;
    }
    .DistrictIpswitch2> h1 {
        padding: 90px;
    }
    .DistrictOtherMine2 {
        width: 300px;
        height: 300px;
    }
    .DistrictOtherMine2> h1 {
        padding: 100px;
    }
  }
  #logobanner {
      position: fixed;
      z-index: 49;
      float: right;
      margin-top: 34em;
      margin-right: -4em;
    right: 0;

  }
  #logobanner > img {
    
    width: 400px;
    height: 400px;
  }