video {
    position: absolute;
    height: 100%;
    width: 100%; 
    top: 0; 
    left: 0;
    bottom: -4;
    animation-name: fade-out;
    animation-duration: 10s;
    animation-delay: 5s;
    z-index: 49;
}


@keyframes fade-out{
    0%{ 
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}